<div fxFlex="100" class="dialog-container" fxLayout="column">
    <div fxLayout="row wrap">

        <div fxFlex="100" fxLayout="column" class="dialog-header">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                    <p class="titulo">{{ 'ConfigurationAgendaEliminar' | translate }}</p>
                </div>
            </div>
        </div>

        <div fxFlex="100" fxLayout="column" class="dialog-body">
            <div fxLayout="row wrap">

                <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                    <p class="mensaje">{{ 'estaSeguroEliminar' | translate }}</p>
                    <p class="mensaje">{{sMensaje}}</p>
                </div>

                <div fxFlex="100" fxLayout="column" class="buttons">
                    <div fxLayout="row wrap">

                        <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
                            <button mat-flat-button cdkFocusInitial (click)="onCancel()">
                                <mat-icon>cancel</mat-icon>
                                {{ 'btn.cancelar' | translate }}
                            </button>
                        </div>

                        <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
                            <button color="warn" mat-flat-button (click)="onDelete()">
                                <mat-icon>delete_forever</mat-icon>
                                {{ 'btn.eliminar' | translate }}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>