<div mat-dialog-title class="dialog-container">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center end">
            <button mat-dialog-close mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>

<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column">
            <mat-accordion multi>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'datosSolicitudRegistro' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row wrap">
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'fechaSolicitud' | translate }}</mat-label>
                                <input matInput [formControl]="fechaSolicitud" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'fechaModificacion' | translate }}</mat-label>
                                <input matInput [formControl]="fechaModificacion" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'tipoSolicitud' | translate }}</mat-label>
                                <input matInput [formControl]="tipoSolicitud" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'estadoSolicitud' | translate }}</mat-label>
                                <input matInput [formControl]="estadoSolicitud" readonly>                            
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'consultaCliente' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row wrap">
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'apellidosRazonSocial' | translate }}</mat-label>
                                <input matInput [formControl]="apellidos" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'NombresNombreComercial' | translate }}</mat-label>
                                <input matInput [formControl]="nombres" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'CustomerInitTableTipoDocumento' | translate }}</mat-label>
                                <input matInput [formControl]="tipoDocumento" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'usuarios.dialog.crear.documento' | translate }}</mat-label>
                                <input matInput [formControl]="documento" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'home-agendar.select.ciudad' | translate }}</mat-label>
                                <input matInput [formControl]="departamento" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'CustomerCreateInputProvincia' | translate }}</mat-label>
                                <input matInput [formControl]="provincia" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'CustomerCreateInputDistrito' | translate }}</mat-label>
                                <input matInput [formControl]="distrito" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'CustomerCreateInputDireccion' | translate }}</mat-label>
                                <input matInput [formControl]="direccion" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'login.email' | translate }}</mat-label>
                                <input matInput [formControl]="email" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'clientes.table.telefono' | translate }}</mat-label>
                                <input matInput [formControl]="telefono" readonly>                            
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'consultaVehicular' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row wrap">
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'companias.table.marca' | translate }}</mat-label>
                                <input matInput [formControl]="marca" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'clientes.dialog.vehiculo.table.modelo' | translate }}</mat-label>
                                <input matInput [formControl]="modelo" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'clientes.dialog.vehiculo.table.version' | translate }}</mat-label>
                                <input matInput [formControl]="version" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'color' | translate }}</mat-label>
                                <input matInput [formControl]="color" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'clientes.dialog.crear.placa' | translate }}</mat-label>
                                <input matInput [formControl]="placa" readonly>                            
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="column">
                            <mat-form-field class="select-filtro">
                                <mat-label>{{ 'vin' | translate }}</mat-label>
                                <input matInput [formControl]="vin" readonly>                            
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
        </mat-accordion>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">    
    <div *ngIf="oSolicitud.bShowSubirArchivos" fxFlex="50"><mat-label class="subirArchivos">{{ 'tooltip.subirArchivos' | translate }}: </mat-label><input  type="file" (change)="selectFileDocumento($event)" accept="image/*" required multiple></div>
    <button mat-flat-button   (click)="fnDescargarZip()" *ngIf="oSolicitud.ResourcePath != ''">
        <mat-icon>get_app</mat-icon> {{ 'tooltip.descargar' | translate }}
    </button>
    <button mat-flat-button 
        (click)="onAprobar()">
        <mat-icon>done_outline</mat-icon> {{ 'tooltip.aprobar.solicitud' | translate }}
    </button>
    <button   mat-flat-button (click)="onRechazar()">
        <mat-icon>cancel</mat-icon> {{ 'tooltip.rechazar.solicitud' | translate }}
    </button>
    
</mat-dialog-actions>
</div>