<div fxFlex="100" fxLayout="column" style="padding-bottom: 60px;">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <span>{{oModuleSelected.ModuleName}} </span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <span *ngIf="oBrandModel">{{this.oBrandModel.Name}}</span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <span>{{ 'BrandWelcomeMessageTitulo' | translate }}</span>

                </mat-toolbar-row>
            </mat-toolbar>
            <mat-progress-bar *ngIf="!IsLoadMessage" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column">
            <div fxLayout="row wrap">
                <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
                    <mat-label>{{ 'BrandWelcomeMessageSubTitulo' | translate }}</mat-label>
                </div>
                <div fxFlex="20" fxLayout="column">
                    <mat-form-field>
                        <mat-label>{{ 'BrandWelcomeMessageAddVariable' | translate }}</mat-label>
                        <mat-select>
                            <mat-option (click)="onSelecionarVariable('[correo]')">{{ 'BrandWelcomeMessageAddCorreo' | translate }}</mat-option>
                            <mat-option (click)="onSelecionarVariable('[usuario]')">{{ 'BrandWelcomeMessageAddUsuario' | translate }}</mat-option>
                            <mat-option (click)="onSelecionarVariable('[apellidos]')">{{ 'BrandWelcomeMessageAddNombres' | translate }}</mat-option>
                            <mat-option (click)="onSelecionarVariable('[nombres]')">{{ 'BrandWelcomeMessageAddApellidos' | translate }}</mat-option>
                            <mat-option (click)="onSelecionarVariable('[linkCreatePassowrd]')">{{ 'BrandWelcomeMessageAddLink' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div fxFlex="100" fxLayout="column">
                    <ejs-richtexteditor locale='es-ES' [insertImageSettings]='insertImageSettings' [formControl]="c_mensaje">

                    </ejs-richtexteditor>
                </div>
                <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="20px" style="padding: 20px 0px;">
                    <button mat-flat-button (click)="onCancelar()">
                        
                        {{ 'ajustes.mensaje-bienvenida.cancelar' | translate }}
                    </button>
                    <button color="warn" mat-flat-button cdkFocusInitial (click)="onGuardarMensaje()">
                        <mat-icon>check_circle_outline</mat-icon>
                        {{ 'ajustes.mensaje-bienvenida.ok' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>