mat-toolbar-row {
    background: #ffffff;
    color: black;
    padding: 0px!important;
}
.drawer-principal {
    position: initial !important;
    background: #fff;
}

.drawer-contenido {
    max-width: 570px;
    height: 100%!important;
    padding: 20px 0px;
    border: 1px solid #555;
}
.titulo-dialogo {
    margin: 0;
    font-size: 20px;
}
.color-icon-calendar{
    /* color: red; */
}