<div mat-dialog-title>
    <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
            <span class="titulo">{{ 'BrandConfigServicesMileages' | translate }}
                {{oServicioMarcaModel.ServiceName}}</span>
            <mat-progress-bar *ngIf="IsCompleteSave" mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start end">

            <button mat-dialog-close mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div>
        <small>{{'CompanyMileagestitulo'|translate}}</small>
    </div>
    <div *ngFor="let oMileage of aMileages; let i = index">
        <div fxLayout="row wrap" *ngIf="!oMileage.IsDeleted">
            <div fxFlex="45" fxLayout="column" style="padding: 5px;">
                <mat-form-field>
                    <mat-label>{{'BrandConfigMileageKilometraje'|translate}}</mat-label>
                    <input autocomplete="off" matInput [formControl]="oMileage.cValue" [readonly]="!oMileage.IsOwner"
                        (keyup)="onFilterOnlyNumbers($event,oMileage.cValue)">
                </mat-form-field>
            </div>
            <div fxFlex="45" fxLayout="column" style="padding: 5px;">
                <mat-form-field>
                    <mat-label>{{'BrandConfigMileageExternalId'|translate}}</mat-label>
                    <input autocomplete="off" matInput [formControl]="oMileage.cExternalId"
                        [readonly]="!oMileage.IsOwner">
                </mat-form-field>
            </div>
            <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
                <button *ngIf="!oMileage.IsDeletedIcon" mat-icon-button (click)="onAddMileage()">
                    <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="oMileage.IsDeletedIcon" mat-icon-button (click)="onDimissMileage(oMileage)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="i === 0">
            <div>
                <mat-divider></mat-divider>
            </div>
            <div  style="padding-top: 10px;">
                <small>{{'CompanyMileagesAdd'|translate}}</small>
            </div>

        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close cdkFocusInitial>
        {{ 'BrandConfigServicesCancelar' | translate }}
    </button>
    <button color="warn" [disabled]="bPrevent" mat-flat-button (click)="onSabeMileages()">
        <mat-icon>check_circle_outline</mat-icon> {{'BrandConfigServicesGuardar'|translate}}
    </button>
</mat-dialog-actions>