<div mat-dialog-title class="dialog-container">
    <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
            <span class="titulo">{{'CallcenterTituloTopes' | translate}}</span>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start end">
            <button mat-dialog-close mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'talleres.titulo' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let dia of diasSemana">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{dia.dia}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxFlex="100" fxLayout="column">
                                <div fxLayout="row wrap">
                                    <div fxFlex="50" fxLayout="column" *ngFor="let servicio of dia.talleres">
                                        <span class="titulo-service">{{servicio.nombre}}<br>
                                            <small class="subtitulo">{{servicio.tope}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'asesores.titulo' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let dia of diasSemana">
                            <mat-expansion-panel-header *ngIf="dia.asesores.length>0">
                                <mat-panel-title>
                                    {{dia.dia}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxFlex="100" fxLayout="column" *ngIf="dia.asesores.length>0">
                                <div fxLayout="row wrap">
                                    <div fxFlex="50" fxLayout="column" *ngFor="let servicio of dia.asesores" >
                                        <span class="titulo-service">{{servicio.nombre}}<br>
                                            <small class="subtitulo">{{servicio.tope}}</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">

    <button color="warn" mat-flat-button mat-dialog-close cdkFocusInitial>
        <mat-icon>cancel</mat-icon>  {{ 'home-agendar.drawer-agendar.btn.salir' | translate }}
    </button>
</mat-dialog-actions>