<div mat-dialog-title>
    <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
            <span class="titulo" *ngIf="oAsesorModel">{{'adviserEditarHorario' | translate}} {{ OnPonerCadaPalabraMayuscula(oAsesorModel.FirstName +' '+ oAsesorModel.LastName) }}  </span>
            <mat-progress-bar *ngIf="IsCompleteSave" mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start end">
            <button mat-dialog-close mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div fxFlex="50" fxLayout="column" class="mat-typography" style="padding-right: 5px;">
            <mat-form-field class="input">
                <mat-label>{{'asesores.table.taller' | translate}} </mat-label>
                <input matInput  autocomplete="off" readonly [value]=" oWorkshopModel ? oWorkshopModel.FriendlyName:''"> 
            </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout="column" class="mat-typography" style="padding-left: 5px;">
            <mat-form-field class="input">
                <mat-label>{{'companias.table.telefono' | translate}}</mat-label>
                <input matInput  autocomplete="off" [formControl]="cPhone"> 
            </mat-form-field>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap">   
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center end ">
            <button mat-button color="warn" (click)="onMondayRepite()">{{'taller.editar.replicar' | translate}}</button>
        </div>

        <div fxFlex="100" fxLayout="column" *ngFor="let i of aHorario" style="padding: 10px 0;">
            <div fxLayout="row wrap">
                <div fxFlex="26" fxLayout="column" fxLayoutAlign="center start">
                    <small>{{i.c_descripcion}}</small>
                    <mat-slide-toggle [formControl]="i.c_estado" (change)="onchangeHorario(i)"> <small>
                        {{i.c_estado.value ? 'Abierto' : 'Cerrado' }}</small>
                </mat-slide-toggle>
                </div>
                <div fxFlex="37" fxLayout="column">
                    <mat-label *ngIf="i.c_estado.value">{{ 'talleres.table.fechainicio' | translate }}</mat-label> 
                    <kendo-timepicker onkeydown="return false;" *ngIf="i.c_estado.value" [min]="i.StartTime" [max]="i.EndTimeBasic" [formControl]="i.c_horainicio" [format]="'HH:mm'"   (valueChange)="validateDateMax(i,$event,1)">
                        <kendo-timepicker-messages accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar" cancelLabel="Cancelar cambios" now="Ahora" nowLabel="Ahora" toggle="Cambiar lista"></kendo-timepicker-messages>
                    </kendo-timepicker>
                </div> 
                <div fxFlex="37" fxLayout="column">
                    <mat-label *ngIf="i.c_estado.value">{{ 'talleres.table.fechafin' | translate }}</mat-label>
                    <kendo-timepicker onkeydown="return false;" *ngIf="i.c_estado.value" [min]="i.StartTimeBasic" [max]="i.EndTime"  [formControl]="i.c_horafin" [format]="'HH:mm'" (valueChange)="validateDateMax(i,$event,2)">
                        <kendo-timepicker-messages accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar" cancelLabel="Cancelar cambios" now="Ahora" nowLabel="Ahora" toggle="Cambiar lista"></kendo-timepicker-messages>
                    </kendo-timepicker>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn cancelar" mat-flat-button mat-dialog-close cdkFocusInitial>        
        {{ 'BrandConfigServicesCancelar' | translate }}
    </button>
    <button color="warn" [disabled]="bPrevent" mat-flat-button (click)="onSaveWorkshop()" > 
       <mat-icon>check_circle_outline</mat-icon> {{'BrandConfigServicesGuardar'|translate}}
    </button>
</mat-dialog-actions>

 