mat-toolbar-row {
    background: #ffffff;
    color: black;
    padding: 0px!important;
}
.drawer-principal {
    position: initial !important;
    background: #fff;
}

.drawer-contenido {
    max-width: 570px;
    height: 100%!important;
    padding: 20px 0px;
    border: 1px solid #555;
}
.titulo-dialogo {
    margin: 0;
    font-size: 20px;
}
.color-icon-calendar{
    /* color: red; */
}
::ng-deep .cal-week-view .cal-time-events .cal-event {
    
    line-height:15px!important;
  }
::ng-deep .contenido-title { 
    line-height:1px!important;
    font-size:11px!important;
    margin-top:1px!important;    
    padding-top:1px!important;
    margin-bottom: 1px!important;
    padding-bottom: 1px!important;
    overflow:hidden!important;
    height:auto!important;
  }