<div fxFlex="100" fxLayout="column">

  <img class="logo" src="../../../assets/images/inchcape_logo.png" alt="logo_inchcape">
  <p class="hint up">{{ 'CredentialInitTitulo' | translate }}</p>
  <p class="hint down">{{ 'CredentialInitSubtitulo' | translate }}</p>

  <mat-form-field class="input">
    <mat-label>{{ 'CredentialInitCorreo' | translate }}</mat-label>
    <input matInput type="email" [formControl]="emails" [errorStateMatcher]="matcher" (change)="limpiaCorreo()"
      placeholder="Ej. usuario@dominio.com" autocomplete="off" (keyup.enter)="onLogin()">
    <mat-error *ngIf="emails.hasError('pattern') && !emails.hasError('required')">
      {{ 'CredentialInitErrorCorreoFormat' | translate }}
    </mat-error>
    <mat-error *ngIf="emails.hasError('required')">
      {{ 'CredentialInitErrorCorreoRequired' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>{{ 'CredentialInitClave' | translate }}</mat-label>
    <input matInput [type]="bPassSee ? 'password' : 'text'" [formControl]="password" [errorStateMatcher]="matcher"
      autocomplete="off" (keyup.enter)="onLogin()">
    <button mat-button matSuffix (click)="onVerPass()">{{ bPassText }}</button>
    <mat-error *ngIf="password.hasError('required')">
      {{ 'CredentialInitErrorPasswordRequired' | translate }}
    </mat-error>
  </mat-form-field>

  <button mat-flat-button [disabled]="bButtonDisabled" class="button"
    (click)="onLogin()">{{ 'CredentialInitIniciar' | translate }}</button>
  <a (click)="onGoRestaurarPassword()" class="link">{{ 'CredentialInitOlvidarClave' | translate }}</a>

</div>
