td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 0px!important;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 0px!important;
}

.titulo {
    font-size: 28px;
}

.drawer-principal {
    position: initial !important;
    background: #fff;
}

.drawer-contenido {
    max-width: 570px;
    border: 1px solid #555;
}

mat-toolbar-row {
    background: #ffffff;
    color: black;
    padding: 0px!important;
}

.subtitulo {
    font-size: 12px;
}

.titulo-dialogo {
    margin: 0;
    font-size: 20px;
}
.select-filtro{
    width: 95%;
    font-size: 14px;
  }