<div mat-dialog-title>
    <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
            <span class="titulo">{{ 'BrandConfigServicesEditar' | translate }} {{oServicioMarcaModel.ServiceName}}</span>
            <mat-progress-bar *ngIf="IsCompleteSave" mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center end">
            <button mat-dialog-close mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="dialog-header">
    <div fxLayout="row wrap">
        <div fxFlex="50" fxLayout="column">
            <mat-form-field class="input">
                <mat-label>{{ 'BrandConfigServicesFriendlyName' | translate }}</mat-label>
                <input matInput [formControl]="cFriendlyName" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cFriendlyName.hasError('pattern') && !cFriendlyName.hasError('required')">
                    {{'BrandConfigServicesInvalidFriendlyName'| translate}}
                </mat-error>
                <mat-error *ngIf="cFriendlyName.hasError('required')">
                    {{'BrandConfigServicesRequiredFriendlyName'| translate}}
                </mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="25" fxLayout="column" style="padding-left: 5px;padding-right: 5px;">
            <mat-form-field class="input">
                <mat-label>{{ 'BrandConfigServicesBlockCant' | translate }}</mat-label>
                <input matInput [formControl]="cBlockCount" [errorStateMatcher]="matcher" autocomplete="off" (input)="onCalcularBloque()">
                <mat-error *ngIf="cBlockCount.hasError('pattern') && !cBlockCount.hasError('required')">
                    {{'BrandConfigServicesInvalidBlockDuration'| translate}}
                </mat-error>
                <mat-error *ngIf="cBlockCount.hasError('required')">
                    {{'BrandConfigServicesRequiredBlockDuration'| translate}}
                </mat-error>
                <mat-hint *ngIf="sCalculo">{{sCalculo}}</mat-hint>
            </mat-form-field>
        </div>
        <div fxFlex="25" fxLayout="column">
            <mat-form-field class="input">
                <mat-label>{{ 'BrandConfigServicesExternalId' | translate }}</mat-label>
                <input matInput [formControl]="cExternalId" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cBlockCount.hasError('required')">
                    {{'BrandConfigServicesRequiredExternalId'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxLayout="column">
            <mat-form-field class="input">
                <mat-label>{{ 'BrandConfigServicesDetalle' | translate }}</mat-label>
                <textarea matInput rows="2" [formControl]="cDetail" [errorStateMatcher]="matcher" autocomplete="off">
                </textarea>
                <mat-error *ngIf="cDetail.hasError('pattern') && !cDetail.hasError('required')">
                    {{'BrandConfigServicesInvalidBlockDetalle'| translate}}
                </mat-error>
                <mat-error *ngIf="cDetail.hasError('required')">
                    {{'BrandConfigServicesRequiredBlocDetalle'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxLayout="column" style="padding-bottom:20px;">
            <small>{{'BrandConfigServicesCantidadMaxima' | translate}}</small>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 0px 5px;">
            <mat-form-field class="input">
                <mat-label>{{'BrandConfigServicesMonday' | translate}}</mat-label>
                <input (keyup)="onFilterOnlyNumbers($event, cMondayStop)" matInput [formControl]="cMondayStop" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cMondayStop.hasError('required')">
                    {{'BrandConfigServicesStopDay'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 0px 5px;">
            <mat-form-field class="input">
                <mat-label>{{'BrandConfigServicesTuesday' | translate}}</mat-label>
                <input (keyup)="onFilterOnlyNumbers($event, cTuesdayStop)" matInput [formControl]="cTuesdayStop" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cTuesdayStop.hasError('required')">
                    {{'BrandConfigServicesStopDay'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 0px 5px;">
            <mat-form-field class="input">
                <mat-label>{{'BrandConfigServicesWednesday' | translate}}</mat-label>
                <input (keyup)="onFilterOnlyNumbers($event, cWednesdayStop)" matInput [formControl]="cWednesdayStop" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cTuesdayStop.hasError('required')">
                    {{'BrandConfigServicesStopDay'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 0px 5px;">
            <mat-form-field class="input">
                <mat-label>{{'BrandConfigServicesThursday' | translate}}</mat-label>
                <input (keyup)="onFilterOnlyNumbers($event, cThursdayStop)" matInput [formControl]="cThursdayStop" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cThursdayStop.hasError('required')">
                    {{'BrandConfigServicesStopDay'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 0px 5px;">
            <mat-form-field class="input">
                <mat-label>{{'BrandConfigServicesFriday' | translate}}</mat-label>
                <input (keyup)="onFilterOnlyNumbers($event, cFridayStop)" matInput [formControl]="cFridayStop" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cFridayStop.hasError('required')">
                    {{'BrandConfigServicesStopDay'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 0px 5px;">
            <mat-form-field class="input">
                <mat-label>{{'BrandConfigServicesSaturday' | translate}}</mat-label>
                <input (keyup)="onFilterOnlyNumbers($event, cSaturdayStop)" matInput [formControl]="cSaturdayStop" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cSaturdayStop.hasError('required')">
                    {{'BrandConfigServicesStopDay'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="25" fxLayout="column" style="padding: 0px 5px;">
            <mat-form-field class="input">
                <mat-label>{{'BrandConfigServicesSunday' | translate}}</mat-label>
                <input (keyup)="onFilterOnlyNumbers($event, cSundayStop)" matInput [formControl]="cSundayStop" [errorStateMatcher]="matcher" autocomplete="off">
                <mat-error *ngIf="cSundayStop.hasError('required')">
                    {{'BrandConfigServicesStopDay'| translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxLayout="column" style="padding-bottom:10px;">
            <small>{{'BrandConfigServicesMensajeTope' | translate}}</small>
        </div>
        <div fxFlex="33" fxLayout="column" style="padding-left: 10px; padding-top: 15px;">
            <mat-slide-toggle [formControl]="cIsActived" matTooltip="{{ ( oServicioMarcaModel.IsActived ? 'BrandConfigServicesActive':'BrandConfigServicesInactive') | translate }}" matTooltipPosition="below"> {{ 'BrandConfigServicesIsActived' | translate }}</mat-slide-toggle>
        </div>
        <div fxFlex="66" fxLayout="column" style="padding-left: 10px; padding-top: 15px;">
            <mat-slide-toggle [formControl]="cMandatoryKM" matTooltip="{{ ( oServicioMarcaModel.MandatoryKM ? 'CompanyConfigServiceMandatoryKMActive':'CompanyConfigServiceMandatoryKMInaActive') | translate }}" matTooltipPosition="below"> {{ 'CompanyConfigServicesIsMandatoryKM' | translate }}</mat-slide-toggle>
        </div>
    </div>

</div>
<mat-dialog-actions align="end">
    <button class="btn cancelar" mat-flat-button mat-dialog-close cdkFocusInitial>        
        {{ 'BrandConfigServicesCancelar' | translate }}
    </button>
    <button color="warn" [disabled]="bPrevent" mat-flat-button (click)="onGuardarServicioMarca()"> 
       <mat-icon>check_circle_outline</mat-icon> {{'BrandConfigServicesGuardar'|translate}}
    </button>
</mat-dialog-actions>