<div fxFlex="100" fxLayout="column" class="container">
  <div fxLayout="row wrap">

    <div fxFlex="100" fxLayout="column">
      <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column">
          <p class="dialog-title">{{ 'CustomerRequestDialogTitle' | translate }}</p>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center end">
          <button mat-icon-button mat-dialog-close>
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div fxFlex="100" fxLayout="column">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start">
          <p class="dialog-message">{{ 'CustomerRequestApproveMsg' | translate }}</p>
        </div>

        <div fxFlex="100" fxLayout="column">
          <div fxLayout="row wrap">
            <div fxFlex="50" fxLayout="column">
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center end">
              <button mat-stroked-button mat-dialog-close>
                {{ 'CustomerRequestBtnCancelar' | translate }}
              </button>
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center end">
              <button color="warn" [disabled]="bPrevent" mat-flat-button (click)="onSubmit()">
                {{ 'CustomerRequestBtnApprove' | translate }}
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
