<div fxLayout="row wrap">
    <div fxFlex fxLayout="column">
        <img class="logo" src="../../../assets/images/inchcape_logo.png" alt="logo_inchcape">
        <p class="hint">{{ 'login.saludo' | translate }}</p>
        <mat-form-field class="input">
            <mat-label>{{ 'login.email' | translate }}</mat-label>
            <input matInput autocomplete="off" [formControl]="emails" [errorStateMatcher]="matcher" autocomplete="off" placeholder="Ej. pat@inchcape.com.pe">
            <mat-error *ngIf="emails.hasError('pattern') && !emails.hasError('required')">
                Por favor ingresar un correo válido
            </mat-error>
            <mat-error *ngIf="emails.hasError('required')">
                El correo es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <button mat-flat-button class="button" (click)="onRestaurarPass()" [disabled]="bButtonDisabled">{{ 'login.restaurar' | translate }}</button>
        <a class="link" (click)="onRegresar()">{{ 'login.iniciar' | translate }}  </a>
    </div>
</div>