.logo {
  width: 177px;
  align-self: center;
}

.hint {
  font-size: 14px;
  text-align: center;
  margin: 0;

  color: #43425D;
}

.up {
  margin-top: 20px;
}

.down {
  margin-bottom: 20px;
}

.button {
  font-size: 16px;
  width: 100%;
  background: #FF332C;
  color: white;
  height: 48px;
}

.link {
  font-size: 14px;
  color: #43425D;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
}
