:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-drawer-content::-webkit-scrollbar {
    display: none;
}

mat-toolbar-row {
    padding: 0px 10px 0px 0px!important;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

mat-drawer-content {
    background-color: white;
    padding: 30px 30px 0px 30px;
    margin-bottom: 300px;
}

mat-drawer {
    width: 216px;
}

mat-drawer-container {
    height: 100%;
}

.nav-header-icon {
    background-color: #2c343c;
    height: 100%;
}

.nav-header-menu {
    background-color: #313a43;
}

.contenedor {
    overflow: auto;
}

.lista-item-menu {
    border-left: 5px solid #ef3226;
    background-color: #2c343c;
}

.lista-item-menu mat-list-item a {
    margin-left: -5px!important;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.menu-icon {
    color: #6f757c;
}

.icono-menu {
    color: white;
}

.menu-subtitulo {
    color: #cbced0;
}

@media (max-width: 599px) {}