<mat-toolbar class="home-mat-toolbar" fxShow.xs="false" >
                
    <div fxFlex="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="0" fxLayout="column"></div>
    <div fxFlex="10" fxFlex.md= "30" fxFlex.sm="30" fxFlex.xs="35" fxLayout="column" fxLayoutAlign="center center">
        <img *ngIf="p_i_marca == 1" src="../../../assets/images/subaru_logo.jpg" class="homeImagen-subaru" alt="logo">
        <img *ngIf="p_i_marca == 2" src="../../../assets/images/logo_glory@2x.png" class="homeImagen-dfsk" alt="logo">
        <!-- <img *ngIf="p_i_marca == 3" src="../../../assets/images/bmw_logo.png" class="homeImagen-bmw" alt="logo"> -->
    </div>

    <div fxFlex="50" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="0" fxLayout="column"></div>
    <div fxFlex="20" fxLayout="column" style="padding: 5px;">
        <!-- <img *ngIf="p_i_marca  == 1" src="../../../assets/images/subaru_logo.png" class="homeImagen-subaru" alt="logo"> -->
        <img *ngIf="p_i_marca == 2" src="../../../assets/svg/logo_dfsk.svg" class="homeImagen-dfsk" alt="logo">
        <img *ngIf="p_i_marca == 3" src="../../../assets/images/bmw_logo.png" class="homeImagen-bmw" alt="logo">
    </div>
    <!-- <div fxFlex="20" fxFlex.md="30" fxFlex.sm="30" fxFlex.xs="35" fxLayout="column" fxLayoutAlign="center center">
        <button (click)="onGoLogon()" color="primary" mat-flat-button class="button-home"><mat-icon>account_circle</mat-icon> Iniciar sesión</button>
    </div> -->

</mat-toolbar>
<mat-toolbar  fxHide="true" fxShow.xs="true">
    <div fxFlex="20" fxFlex.md= "30" fxFlex.sm="30" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
        <img *ngIf="p_i_marca == 1" src="../../../assets/images/subaru_logo.jpg" class="homeImagen-subaru" alt="logo">
        <img *ngIf="p_i_marca == 2" src="../../../assets/images/logo_glory.png"  alt="logo" style="width:100px">
        <img *ngIf="p_i_marca == 3" src="../../../assets/images/bmw_logo.png" class="homeImagen-bmw" alt="logo">
    </div>
    <div fxFlex="20" fxFlex.xs="30" fxLayout="column" >
        <!-- <img *ngIf="p_i_marca == 1" src="../../../assets/images/subaru_logo.png" class="homeImagen-subaru" alt="logo"> -->
        <img *ngIf="p_i_marca == 2" src="../../../assets/svg/logo_dfsk.svg" class="homeImagen-dfsk" alt="logo" style="width:100px; padding: 5px">
        <!-- <img *ngIf="p_i_marca == 3" src="../../../assets/images/bmw_logo.png" class="homeImagen-bmw" alt="logo"> -->
    </div>

    <div fxFlex="20" fxFlex.md="30" fxFlex.sm="30" fxFlex.xs="40" fxLayout="column" style="padding: 0 10px;" >
        <span fxLayoutAlign="center center" (click)="onCallTelefono()" >
            <img class="iconTelefono" src="../../../assets/svg/telefono.svg" />&nbsp;&nbsp;
            <span class="numero">{{ telefono }}</span>
        </span>
    </div>
</mat-toolbar>
<div id="backgraound" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column"   >

    <div fxLayout="row wrap">
        
        <mat-progress-bar *ngIf="cAgendarGeneralService.isGlobalLoading" mode="indeterminate" color="primary">
        </mat-progress-bar>
        <div id="background-movil" class="scroll-activate" fxFlex="100" fxLayout="column">
            <div fxLayout="row wrap">
                <div fxFlex="58" fxFlex.md="60" fxFlex.sm="50" fxFlex.xs="0" fxShow.xs="false" fxLayout="column">
                </div>

                <div fxFlex="32" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-card class="mat-elevation-z login">
                        <span class="texto negro">{{ 'home.texto' | translate }}</span><br>
                        <span class="texto color-primary">{{ 'home.servicio' | translate }}</span>
                        <mat-card-content>
                            <div fxFlex fxLayout="column">
                                <div fxLayout="row wrap">                                    
                                    <div fxFlex="100" fxFlex.xs="100" fxLayout="column" style="padding-right: 5px;">
                                        <mat-form-field class="input" appearance="outline">
                                            <mat-label>Tipo de documento</mat-label>
                                            <mat-select   [formControl]="formTipoDocumento" [errorStateMatcher]="matcher" required>
                                              <mat-option (click)="onChangeDocumento()"  *ngFor="let oTipoDocumento of aTiposDocumentos"
                                                [value]="oTipoDocumento.IdenticationTypeId">
                                                {{oTipoDocumento.Name}}
                                              </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formTipoDocumento.hasError('required')">
                                              El tipo de documento es requerido
                                            </mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div fxFlex="100" fxFlex.xs="100" fxLayout="column" style="padding-right: 5px;">
                                        <p class="hint">{{ 'home.placeholder.documento' | translate }}</p>
                                        <mat-form-field appearance="outline" class="input">
                                            <mat-label>{{ 'home.placeholder.documento' | translate }}</mat-label>
                                            <input (focusout)="onChangeDocumento()" maxlength="20" (keyup)="c_documento.setValue(c_documento.value.toUpperCase())" autocomplete="off" (keyUp)="onChangeDocumento()" (change)="onChangeDocumento()" matInput placeholder="{{ 'home.placeholder.documento' | translate }}" [formControl]="c_documento">
                                            <mat-error *ngIf="c_documento.hasError('required')">
                                                N° de documento requerido
                                            </mat-error>    
                                            <mat-hint class="fontTilde" *ngIf="bInvalido" >Documento Inválido</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" fxLayout="column">
                                        <p class="hint">{{ 'home.hint.placa' | translate }}</p>
                                        <mat-form-field appearance="outline" class="input">
                                            <mat-label class="fontTilde" >{{ 'home.placeholder.placa' | translate }}</mat-label>
                                            <input maxlength="10" (keyup)="c_placa.setValue(c_placa.value.toUpperCase())" autocomplete="off" (change)="onChangePlaca()" matInput placeholder="{{ 'home.placeholder.placa' | translate }}" [formControl]="c_placa">
                                            <mat-error *ngIf="c_placa.hasError('required')">
                                                N° de placa requerida.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" fxLayout="column">
                                        <button mat-flat-button color="primary" class="button-agendar" [disabled]="bButtonDisabled || !c_placa.valid ||!c_documento.valid ||!formTipoDocumento.valid || bInvalido " (click)="onGoAgendar()">{{ 'home.button.agendar' | translate }}</button>
                                    </div>

                                    <div fxFlex="100" fxLayout="column" style="padding: 10px;">
                                        <div fxFlex fxLayout="column" fxLayoutGap="5px">
                                            <div fxLayout="row">
                                                <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-around center">
                                                    <mat-divider></mat-divider>
                                                </div>
                                                <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-around center">
                                                    o
                                                </div>
                                                <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-around center">
                                                    <mat-divider></mat-divider>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxFlex="100">
                                        <button mat-stroked-button class="button-agendar" color="primary" [disabled]="bButtonDisabled || !c_placa.valid ||!c_documento.valid ||!formTipoDocumento.valid || bInvalido  " (click)="onGoConsultar()">{{ 'home.button.consultar' | translate }}</button>
                                    </div>
                                    <div *ngIf='linkLibro != "" ' fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                                        <mat-icon class="linkIcono">menu_book</mat-icon>
                                        <a href="{{linkLibro}}"  target="_blank" class="linkLibro">{{tituloLibro}}</a>
                                    </div>
                                    <!-- <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-around start">
                                        <a href="{{linkLibro}}"  target="_blank" class="linkLibro">{{tituloLibro}}</a>
                                    </div> -->
                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>
                </div>

                <div fxFlex="10" fxFlex.md="10" fxShow.sm="10" fxFlex.xs="0" fxShow.xs="false" fxLayout="column">
                </div>
            </div>
        </div>
    </div>
</div>
