<div fxFlex fxLayout="column" class="body-container">
  <div fxLayout="row wrap">
    <div fxFlex="58.82" fxFlex.md="50" fxFlex.sm="40" fxFlex.xs="0" fxLayout="column" class="login-imagen">
    </div>
    <div fxFlex="41.18" fxFlex.md="50" fxFlex.sm="60" fxFlex.xs="100" fxLayout="column">
      <div fxLayout="row wrap">
        <div fxFlex="21.24" fxFlex.md="20" fxFlex.sm="10" fxFlex.xs="5" fxLayout="column" class="padding">
        </div>

        <div fxFlex="57.52" fxFlex.md="60" fxFlex.sm="80" fxFlex.xs="90" fxLayout="column" fxLayoutAlign="center center"
          class="login-formulario">
          <div fxLayout="row wrap">
            <router-outlet></router-outlet>
          </div>
        </div>

        <div fxFlex="21.24" fxFlex.md="20" fxFlex.sm="10" fxFlex.xs="5" fxLayout="column" class="padding">
        </div>
      </div>
    </div>
  </div>
</div>
