.body-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh !important;
}


/*FORMULARIO*/

.login-formulario {
    height: 100vh;
}


/*IMAGEN*/

.login-imagen {
    background-image: url("../../../assets/images/fondo.png");
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 100vh;
}