<div fxFlex="100" class="dialog-container" fxLayout="column">
    <div fxLayout="row wrap">
        <div fxFlex fxLayout="column">
            <mat-form-field class="input">
                <mat-label>{{ 'claveActual' | translate }}</mat-label>
                <input matInput type="password" [formControl]="claveActual">
                <!-- <button mat-button matSuffix (click)="hide1 = !hide1">{{ 'login.mostrar' | translate }}</button> -->
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>{{ 'restaurar.clave' | translate }}</mat-label>
                <input matInput type="password" [formControl]="clave">
                <!-- <button mat-button matSuffix (click)="hide1 = !hide1">{{ 'login.mostrar' | translate }}</button> -->
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>{{ 'restaurar.clave.repetir' | translate }}</mat-label>
                <input matInput type="password" [formControl]="claveConfirmar">
                <!-- <button mat-button matSuffix (click)="hide2 = !hide2">{{ 'login.mostrar' | translate }}</button> -->
            </mat-form-field>
            <div fxFlex="100" fxLayoutAlign="end start" fxLayoutGap="5px">
                <button mat-flat-button color="warn" (click)="onSubmitCambiar()">{{ 'restaurar.clave.button' | translate }}</button>
                <button mat-flat-button mat-dialog-close>Cancelar</button>
            </div>
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start">
                <h3>{{ 'restaurar.creacion' | translate }}</h3>
                <mat-list role="list">
                    <mat-list-item class="listaReglas" role="listitem">{{ 'restaurar.minimo' | translate }}</mat-list-item>
                    <mat-list-item class="listaReglas" role="listitem">{{ 'restaurar.maximo' | translate }}</mat-list-item>
                    <mat-list-item class="listaReglas" role="listitem">{{ 'restaurar.menosLetra' | translate }}</mat-list-item>
                    <mat-list-item class="listaReglas" role="listitem">{{ 'restaurar.letra.minuscula' | translate }}</mat-list-item>
                    <mat-list-item class="listaReglas" role="listitem">{{ 'restaurar.espacios.blanco' | translate }}</mat-list-item>
                    <mat-list-item class="listaReglas" role="listitem">{{ 'restaurar.caracter.blanco' | translate }}</mat-list-item>
                </mat-list>
            </div>
        </div>

    </div>
</div>