.dialog-container {
    color: #43425D;
    width: 350px;
}

.btn-formulario-asesorVacaciones {
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    background: #EF3226 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border: none;
    cursor: pointer;
}

.listaReglas {
    font-size: 14px !important;
    margin-top: -8%;
}