 .titulo {
     font-size: 28px;
 }
 
 h3 {
     margin: 0px!important;
     font-weight: 400 !important;
 }
 
 .btn {
     font-size: 14px;
     font-weight: lighter;
 }
 
 .btn.crear {
     color: white;
     background: #EF3226;
     height: 48px;
 }
 
 .btn.filtrar {
     border: 1px solid #EF3226;
     color: #EF3226;
     background: white;
     width: 70px;
     height: 48px;
 }
 
 .btn.ver-historial {
     border: 1px solid #EF3226;
     color: #EF3226;
     background: white;
     width: 119px;
     height: 48px;
 }
 /*=====================INICIO-TABLA=====================*/
 
 table {
     width: 100%;
 }
 /*MODIFICA LA CABECERA DE LA TABLA*/
 
 th.mat-header-cell {
     color: #43425D;
     opacity: 0.5;
     font-weight: lighter;
     font-size: 13px;
 }
 /*MODIFICA LAS CELDAS DE LA TABLA*/
 
 td.mat-cell {
     color: #43425D;
     font-weight: lighter;
     font-size: 13px;
 }
 
 .material-icons.accion {
     cursor: pointer;
 }
 /*=====================FIN-TABLA=====================*/
 
 .cdk-overlay-pane .popUpUsuarios {
     background-color: tomato;
     border-style: solid 5px;
 }
 
 td.mat-cell:first-of-type,
 td.mat-footer-cell:first-of-type,
 th.mat-header-cell:first-of-type {
     padding-left: 0px!important;
 }
 
 td.mat-cell:last-of-type,
 td.mat-footer-cell:last-of-type,
 th.mat-header-cell:last-of-type {
     padding-right: 0px!important;
 }