<div fxFlex="100" fxLayout="column" class="container">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxLayout="column" *ngIf="isProgress">
      <mat-progress-bar mode="indeterminate">
      </mat-progress-bar>
    </div>

    <div fxFlex="100" fxLayout="column">
      <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column">
          <p class="dialog-title">{{ 'CustomerUpdateTitle' | translate }}</p>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center end">
          <button mat-icon-button mat-dialog-close>
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div fxFlex="100" fxLayout="column">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputNombre' | translate }}</mat-label>
            <input matInput [formControl]="FullName" readonly>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputTipoDocumento' | translate }}</mat-label>
            <input matInput [formControl]="IdenticationType" readonly>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputDocumento' | translate }}</mat-label>
            <input matInput [formControl]="IdenticationDocument" readonly>
          </mat-form-field>
        </div>

        <div fxFlex="33" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputDepartamento' | translate }}</mat-label>
            <input matInput [value]="vDepartamento" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputProvincia' | translate }}</mat-label>
            <input matInput [value]="vProvincia" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputDistrito' | translate }}</mat-label>
            <input matInput [value]="vDistrito" readonly>
          </mat-form-field>
        </div> 
        <div fxFlex="100" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputDireccion' | translate }}</mat-label>
            <input matInput [formControl]="Address">
          </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'CustomerCreateInputTelefono' | translate }}</mat-label>
            <input matInput [formControl]="Phone">
          </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout="column">
          <mat-form-field class="input">
            <mat-label>{{ 'clientes.dialog.crear.correo' | translate }}</mat-label>
            <input matInput [formControl]="Email" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="Email.hasError('email') && !Email.hasError('required')">
              {{ 'CustomerCreateInputErrorEmail' | translate }}
            </mat-error>
            <mat-error *ngIf="Email.hasError('required')">
              {{ 'CustomerCreateInputRequiredEmail' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayout="column">
          <div fxLayout="row wrap">
            <div fxFlex="50" fxLayout="column">
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center end">
              <button mat-stroked-button mat-dialog-close>
                {{ 'CustomerBtnCancelar' | translate }}
              </button>
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="center end">
              <button color="warn" [disabled]="bPrevent" mat-flat-button
                (click)="onSubmitModificarCliente()">
                {{ 'CustomerBtnGuardar' | translate }}
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
