<div id="back">
    <div fxFlex="25" fxFlex.md="25" fxFlex.sm="10" fxFlex.xs="10" fxLayout="column"></div>
    <div fxFlex="50" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="80" fxLayout="column" fxLayoutAlign="center center">
        <div class="idMensajeFinal">
            <img class="icon" src="../../../assets/svg/error.svg" />
            <p class="msg">{{ 'msg-final-cancel.msg' | translate }}</p>
            <button mat-flat-button (click)="onGoHome()" class="btn">{{ 'msg-final-cancel.button' | translate }}</button>
        </div>
    </div>
    <div fxFlex="25" fxFlex.md="25" fxFlex.sm="10" fxFlex.xs="10" fxLayout="column"></div>
</div>