<div id="top"></div>
<div fxFlex="100" fxLayout="column" class="component-container-interno" style="padding-bottom: 60px;">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column">
            <div fxLayout="row wrap">
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <span>{{sCurrentModule.ModuleName}}<br>
                            <small class="subtitulo">{{br2nl(sCurrentModule.ModuleDetail,false)}}</small>
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <mat-progress-bar *ngIf="IsPrincipalLoading" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
        <div fxFlex="100" fxLayout="column" class="class-filtros">
            <mat-card>
                <mat-card-content>
                    <div fxFlex="100" fxLayout="column" class="class-filtros">
                        <div fxLayout="row wrap">
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{ 'home-agendar.select.compania' | translate }}</mat-label>
                                    <mat-select [formControl]="cControlCompany">
                                        <mat-option *ngFor=" let oCompany of aCompanies" (click)="onSelectCompany()"
                                            [value]="oCompany.CompanyId">
                                            {{onPascalCaseString(oCompany.Name)}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{'CampoRequerido'| translate}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>Fecha Inicio</mat-label>
                                    <input autocomplete="off" (dateChange)="onSelectFirstDate()" matInput
                                        [matDatepicker]="pickerInicio" name="fechaIn" (click)="pickerInicio.open()"
                                        readonly required [formControl]="cControlStartDate">
                                    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerInicio></mat-datepicker>
                                    <mat-error>{{'CampoRequerido'| translate}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>Fecha Fin</mat-label>
                                    <input autocomplete="off" matInput [matDatepicker]="pickerFin" name="fechaFin"
                                        (click)="pickerFin.open()" readonly [min]="vMinEndDate"
                                        [formControl]="cControlEndDate">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFin></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25"   fxLayoutAlign="space-between center">

                                <div fxLayoutGap="20px" >
                                    <button  *ngIf="!isOpenAdvancedOpctions" mat-flat-button color="warn" (click)="onSearchAgendaAppointment()" matTooltip="{{ 'DasboardChartAplicar'| translate }}">
                                        <mat-icon>search
                                        </mat-icon>
                                    </button>

                                    <button  *ngIf="!isOpenAdvancedOpctions" mat-stroked-button color="warn" (click)="onExportData()" matTooltip="{{ 'DasboardChartExportar'| translate }}">
                                        <mat-icon>
                                            cloud_download
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-flat-button (click)="isOpenAdvancedOpctions = !isOpenAdvancedOpctions" matTooltip="{{ 'DasboardOpcionesAvanzadas'| translate }}"  >
                                        <mat-icon> {{ isOpenAdvancedOpctions ? 'keyboard_arrow_up' :'keyboard_arrow_down' }}
                                        </mat-icon>
                                        
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div fxLayout="row wrap" *ngIf="isOpenAdvancedOpctions">
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{ 'home-agendar.select.ciudad' | translate }}</mat-label>
                                    <mat-select [formControl]="cControlDepartment" multiple>
                                        <mat-option #allSelectedDepartment (click)="onSelectAllDepartment()"
                                            [value]="0"> {{'home-agendar.select.estado-todos' | translate}}
                                        </mat-option>
                                        <mat-option *ngFor="let oDepartment of aDepartments"
                                            (click)="onSelectPerOneDepartment()" [value]="oDepartment.GeoLocationId">
                                            {{onPascalCaseString(oDepartment.Department)}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{'CampoRequerido'| translate}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{ 'home-agendar.select.taller' | translate }}</mat-label>
                                    <mat-select [formControl]="cControlWorkshop" multiple>
                                        <mat-option #allSelectedWorkshop (click)="onSelectAllWorkshops()" [value]="0">
                                            {{'home-agendar.select.estado-todos' | translate}} </mat-option>
                                        <mat-option *ngFor="let oWorkshop of aWorkshops" [value]="oWorkshop.WorkshopId"
                                            (click)="onSelectPerOneWorkshops()">
                                            {{onPascalCaseString(oWorkshop.FriendlyName)}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{'CampoRequerido'| translate}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{ 'home-agendar.select.asesor' | translate }}</mat-label>
                                    <mat-select [formControl]="cControlAdviser" multiple>
                                        <mat-option #allSelectedAdviser (click)="onSelectAllAdviser()" [value]="0">
                                            {{'home-agendar.select.estado-todos' | translate}} </mat-option>
                                        <mat-option *ngFor="let oAdviser of aAdvisers"
                                            [value]="oAdviser.CompanyAdviserId" (click)="onSelectPerOneAdviser()">
                                            {{onPascalCaseString(oAdviser.FirstName+' '+oAdviser.LastName)}}

                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <div fxFlex="20" fxLayout="column">
                                    <mat-form-field class="select-filtro">
                                        <mat-label>{{ 'home-agendar.select.tipo-servicio' | translate }}</mat-label>
                                        <mat-select [formControl]="cControlService" multiple>
                                            <mat-option #allSelectedService (click)="onSelectAllService()" [value]="0">
                                                {{'home-agendar.select.estado-todos' | translate}} </mat-option>
                                            <mat-option *ngFor="let oService of aServices" [value]="oService.ServiceId"
                                                (click)="onSelectPerOneService()">
                                                {{onPascalCaseString(oService.FriendlyName)}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <div fxFlex="20" fxLayout="column">
                                    <mat-form-field class="select-filtro">
                                        <mat-label>{{ 'home-agendar.select.canal' | translate }}</mat-label>
                                        <mat-select [formControl]="cControlChannel" multiple>
                                            <mat-option #allSelectedChannel (click)="onSelectAllChannel()" [value]="0">
                                                {{'home-agendar.select.estado-todos' | translate}} </mat-option>
                                            <mat-option *ngFor="let oChannel of aChannels" [value]="oChannel.ChannelId"
                                                (click)="onSelectPerOneChannel()">
                                                {{onPascalCaseString(oChannel.FriendlyName)}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{ 'home-agendar.select.estado-reserva' | translate }}</mat-label>
                                    <mat-select [formControl]="cControlStatus" multiple>
                                        <mat-option #allSelectedStatus (click)="onSelectAllStatus()" [value]="0">
                                            {{'home-agendar.select.estado-todos' | translate}} </mat-option>
                                        <mat-option *ngFor="let oStatus of aStatus" [value]="oStatus.StatusId"
                                            (click)="onSelectPerOneStatus()">
                                            {{onPascalCaseString(oStatus.Name)}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{ 'home-agendar.dialog.input.placa' | translate }}</mat-label>
                                    <input matInput [formControl]="cControlPlate">
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{ 'home-agendar.select.estado-pickup' | translate }}</mat-label>
                                    <mat-select [formControl]="cControlPickUp" multiple>
                                        <mat-option #allSelectedPick (click)="onSelectAllPick()" [value]="0">
                                            {{'home-agendar.select.estado-todos' | translate}} </mat-option>
                                        <mat-option *ngFor="let pick of aPicks" [value]="pick.value"
                                            (click)="onSelectPerOnePick()">
                                            {{onPascalCaseString(pick.nombre)}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- sasd -->
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{'DashboardTipodocumento' | translate }}</mat-label>
                                    <mat-select [formControl]="cControlTipoDocumento" multiple>
                                        <mat-option #allSelectedDocumentType (click)="onSelectAllDocumentType()"
                                            [value]="0">
                                            {{'home-agendar.select.estado-todos' | translate}} </mat-option>

                                        <mat-option *ngFor="let oTipo of aTipoDocumento"
                                            (click)="onSelectPerOneDocumentType()" [value]="oTipo.IdenticationTypeId">
                                            {{onPascalCaseString(oTipo.Name)}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{'DashboardNumeroDocumento' | translate }}</mat-label>
                                    <input matInput autocomplete="off" [formControl]="cControlNumeroDocumento">
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{'DashboardCliente' | translate }}</mat-label>
                                    <input matInput autocomplete="off" [formControl]="ccontrolFirstLastName">
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxLayout="column">
                                <mat-form-field class="select-filtro">
                                    <mat-label>{{'DashboardUsuarioCallCenter' | translate }}</mat-label>
                                    <mat-select multiple [formControl]="cControlUsuario">
                                        <mat-option #allSelectedUser (click)="onSelectAllUser()" [value]="0">
                                            {{'home-agendar.select.estado-todos' | translate}} </mat-option>
                                        <mat-option *ngFor="let oUser of aUsuarioCallCenter"
                                            [value]="oUser.OrganizationUserId" (click)="onSelectPerOneUser()">
                                            {{onPascalCaseString(oUser.FirstName +' '+ oUser.LastName)}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end"  *ngIf="isOpenAdvancedOpctions">
                    <button mat-flat-button color="warn" matTooltip="{{ 'DasboardChartAplicar'| translate }}"
                        (click)="onSearchAgendaAppointment()"> <mat-icon>search
                        </mat-icon></button>

                    <button mat-stroked-button color="warn" matTooltip="{{ 'DasboardChartExportar'| translate }}"
                        (click)="onExportData()"> <mat-icon>
                            cloud_download
                        </mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div fxFlex="100" fxLayout="column">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxLayout="column" style="padding-top: 10px;">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ 'DasboardChartOne' | translate }}</mat-card-title>
                        </mat-card-header>
                        <google-chart style="width: 100%;" [type]="vTypeChartOne" [data]="vDataChartOne"
                            [columnNames]="vColumnChartOne" [options]="vOptionChartOne">
                        </google-chart>
                    </mat-card>
                </div>

                <div fxFlex="100" fxLayout="column" style="padding-top: 10px;">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ 'DasboardChartTwo' | translate }}</mat-card-title>
                        </mat-card-header>
                        <google-chart style="width: 100%;" [type]="vTypeChartTwo" [data]="vDataChartTwo"
                            [columnNames]="vColumnChartTwo" [options]="vOptionChartTwo">
                        </google-chart>
                    </mat-card>
                </div>
                <div fxFlex="100" fxLayout="column" style="padding-top: 10px;">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ 'DasboardChartThree' | translate }}</mat-card-title>
                        </mat-card-header>
                        <google-chart style="width: 100%;" [type]="vTypeChartThree" [data]="vDataChartThree"
                            [columnNames]="vColumnChartThree" [options]="vOptionChartThree">
                        </google-chart>
                    </mat-card>
                </div>
                <div fxFlex="100" fxLayout="column" style="padding-top: 10px;">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ 'DasboardChartFour' | translate }}</mat-card-title>
                        </mat-card-header>
                        <google-chart style="width: 100%;" [type]="vTypeChartFour" [data]="vDataChartFour"
                            [columnNames]="vColumnChartFour" [options]="vOptionChartFour">
                        </google-chart>
                    </mat-card>
                </div>
            </div>
        </div>
        <div fxFlex="100" fxLayout="column">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxLayout="column" class="global-reporte">
                    <table mat-table [dataSource]="dataSource" class="tabla-reporte">
                        <ng-container matColumnDef="Taller">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardTaller' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{OnPonerCadaPalabraMayuscula(element.Taller)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Asesor">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardAsesor' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{OnPonerCadaPalabraMayuscula(element.Asesor)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Servicio">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardServicio' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{OnPonerCadaPalabraMayuscula(element.Servicio)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Canal">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardCanal' | translate }} </th>
                            <td mat-cell *matCellDef="let element"> {{element.Canal}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Pick">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardPick' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element["Pick Up And Delivery"]}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardFecha' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
                        </ng-container>
                        <ng-container matColumnDef="hora">
                            <th mat-header-cell *matHeaderCellDef> {{ 'Dashboardhora' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element.Hora}} </td>
                        </ng-container>
                        <ng-container matColumnDef="placa">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardPlaca' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element.Placa}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cliente">
                            <th mat-header-cell *matHeaderCellDef> {{ 'Cliente' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element.Cliente}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> {{ 'Estado' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element.Estado}} {{element.RegistrationUser}}</td>
                        </ng-container>
                        <ng-container matColumnDef="UsuarioRegistra">
                            <th mat-header-cell *matHeaderCellDef> {{ 'DashboardUsuarioReg' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element["Usuario que Registro"]}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[7,10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>

    </div>