<div id="top"></div>
<div fxFlex="100" fxLayout="column" style="padding-bottom: 60px;">
    <div fxLayout="row wrap">

        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <span>{{oModuleSelected.ModuleName}}<br>
                        <small class="subtitulo">{{oModuleSelected.ModuleDetail}}</small>
                    </span>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

        <div fxFlex="100" fxLayout="column" style="margin-top: 10px;">
            <div fxLayout="row wrap">
                <div fxFlex="25" fxLayout="column"
                    style="border-right: 1px solid #f4f4f7; border-top:1px solid #f4f4f7; padding: 10px; overflow-x: scroll;">
                    <div fxLayout="row wrap">

                        <div fxFlex="100" fxLayout="column">
                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                                    (click)="onObtenerContenido(node)" class="tree-row">
                                    <button mat-icon-button disabled></button> {{node.item.Title}}
                                </mat-tree-node>

                                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                                    (click)="onObtenerContenido(node)" class="tree-row">
                                    <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename"
                                        matTreeNodeToggle>
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button> {{node.item.Title}}
                                    <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate"
                                        class="example-tree-progress-bar">
                                    </mat-progress-bar>
                                </mat-tree-node>

                            </mat-tree>
                        </div>

                    </div>
                </div>

                <div fxFlex="75" fxLayout="column" *ngIf="!noData">
                    <div fxLayout="row wrap">

                        <div fxFlex="100" fxLayout="column" class="content-table first" fxLayoutAlign="center center">
                            <div fxLayout="row wrap" style="width: 100%;">

                                <div fxFlex="60" fxLayout="column">
                                    <div fxLayout="row wrap">

                                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start"
                                            style="padding: 5px; margin-top: 80px;">
                                            <mat-form-field class="input">
                                                <mat-label> {{ 'ContentInitInputTitulo' | translate }} </mat-label>
                                                <input matInput [formControl]="formTitle"
                                                    [readonly]="!flagRestrictControlsToBrand">
                                                <mat-error *ngIf="formTitle.hasError('required')">
                                                    {{ 'ContentInitErrorRequiredInputTitulo' | translate }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex="60" fxLayout="column" fxLayoutAlign="center start"
                                            style="padding: 5px;">
                                            <mat-form-field class="input">
                                                <mat-label> {{ 'ContentInitIdentifier' | translate }} </mat-label>
                                                <input matInput [formControl]="formIdentifier"
                                                    [readonly]="!flagRestrictControlsToBrand">
                                            </mat-form-field>
                                        </div> 
                                        <div fxFlex="40" fxLayout="column" *ngIf="bShowVariables">
                                            <mat-form-field>
                                                <mat-label>{{ 'BrandWelcomeMessageAddVariable' | translate }}</mat-label>
                                                <mat-select>
                                                    <mat-option (click)="onSelecionarVariable('[placa]')">{{ 'ContentPlantillaCorreoAddPlaca' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[region]')">{{ 'ContentPlantillaCorreoAddRegion' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[taller]')">{{ 'ContentPlantillaCorreoAddTaller' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[direccion]')">{{ 'ContentPlantillaCorreoAddDireccion' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[asesor]')">{{ 'ContentPlantillaCorreoAddAsesor' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[servicio]')">{{ 'ContentPlantillaCorreoAddServicio' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[kilometraje]')">{{ 'ContentPlantillaCorreoAddKilometraje' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[diadecita]')">{{ 'ContentPlantillaCorreoAddDiaCita' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[horadecita]')">{{ 'ContentPlantillaCorreoAdHoraCita' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[nombreRepresentante]')">{{ 'ContentPlantillaCorreoAddNomRepres' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[docRepresentante]')">{{ 'ContentPlantillaCorreoAddDocRepres' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[telefRepresentante]')">{{ 'ContentPlantillaCorreoAddTelRepres' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[telefCliente]')">{{ 'ContentPlantillaCorreoAddTelCliente' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[emailCliente]')">{{ 'ContentPlantillaCorreoAddEmailCliente' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[nombreCliente]')">{{ 'ContentPlantillaCorreoAddNombreCliente' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[tipoDocumentoCliente]')">{{ 'ContentPlantillaCorreoAddTipDocCliente' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[documentoCliente]')">{{ 'ContentPlantillaCorreoAddDocCliente' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[clienteID]')">{{ 'ContentPlantillaCorreoAddClienteId' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[urlUbicacionTaller]')">{{ 'ContentPlantillaCorreoUrlTaller' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[MovAsesor]')">{{ 'ContentPlantillaCorreoMovilAsesor' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('https://api.whatsapp.com/send?phone=')">{{ 'ContentPlantillaCorreoUrlWsp' | translate }}</mat-option>
                                                    <mat-option (click)="onSelecionarVariable('[QrCita]')">{{ 'ContentPlantillaCorreoQrCita' | translate }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                        
                                        </div>

                                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start" class="bloqueEditor"
                                             *ngIf="flagRestrictControlsToBrand" >
                                            <ejs-richtexteditor *ngIf="!formIsLink.value" locale='es-ES'
                                                [insertImageSettings]='insertImageSettings' [formControl]="formText" [floatingToolbarOffset]="1" [height]=250>
                                            </ejs-richtexteditor>
                                            <mat-form-field class="input" *ngIf="formIsLink.value">
                                                <mat-label> {{ 'ContentInitUrl' | translate }} </mat-label>
                                                <input matInput [formControl]="formText">
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center start"
                                            style="padding: 5px; margin-top: 30px;" *ngIf="flagRestrictControlsToBrand">
                                            <p class="content-subtitle2"> {{ 'ContentInitInputPublicado' | translate }}
                                                <mat-slide-toggle class="content-check" [formControl]="formIsPublished"
                                                    [checked]="formIsPublished">
                                                </mat-slide-toggle>
                                            </p>
                                        </div>
                                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center start"
                                            style="padding: 5px;margin-top: 30px;">
                                            <p class="content-subtitle2">
                                                {{ 'ContentInitInputModificacion' | translate }}
                                                {{formDateUpd | date:'dd/MM/yyyy'}}</p>
                                        </div>

                                        <div fxFlex="10" fxLayout="column" fxLayoutAlign="center start"
                                            style="padding: 5px; margin-top: 30px;" *ngIf="flagRestrictControlsToBrand">
                                            <button mat-icon-button class="content-button" (click)="fileInput.click()"
                                                matTooltip="{{ 'ContentInitTooltipImagen' | translate }}"
                                                [matTooltipPosition]="position">
                                                <mat-icon>image_search</mat-icon>
                                            </button>
                                            <input type="file" (change)="selectFile($event)"
                                                accept="image/gif, image/jpeg, image/jpg, image/bmp, image/png"
                                                #fileInput />
                                        </div>

                                        <div fxFlex="10" fxLayout="column" fxLayoutAlign="center start"
                                            style="padding: 5px;margin-top: 30px;" *ngIf="flagRestrictControlsToBrand">
                                            <button mat-icon-button class="content-button"
                                                matTooltip="{{ 'ContentInitTooltipRemoveImagen' | translate }}"
                                                [matTooltipPosition]="position" (click)="onRemoverImagen()">
                                                <mat-icon>remove_circle</mat-icon>
                                            </button>
                                        </div>

                                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center start"
                                        style="padding: 5px; margin-top: 30px;" *ngIf="flagRestrictControlsToBrand">
                                        <p class="content-subtitle2"> {{ 'ContentInitIsLink' | translate }}
                                            <mat-slide-toggle class="content-check" [formControl]="formIsLink"
                                                [checked]="formIsLink" (change)="onIsLink()">
                                            </mat-slide-toggle>
                                        </p>
                                    </div>

                                    </div>
                                </div>

                                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" class="content-image">
                                    <img id="previewImage" class="imagen" src="{{formMainImage}}" alt="">
                                </div>

                                <div fxFlex="10" fxLayout="column" style="padding: 10px; margin-top: 80px;">
                                    <div fxLayout="row wrap">
                                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center end"
                                            style="padding: 10px;" *ngIf="flagRestrictControlsToBrand">
                                            <button mat-mini-fab color="warn" class="content-button"
                                                (click)="onModificarContenido()"
                                                matTooltip="{{ 'ContentInitTooltipGuardar' | translate }}"
                                                [matTooltipPosition]="position" [disabled]="flagDisabledSaveButton">
                                                <mat-icon>save</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center end"
                                            style="padding: 10px;">
                                            <button mat-mini-fab color="primary" class="content-button"
                                                (click)="onLimpiarFormulario()"
                                                matTooltip="{{ 'ContentInitTooltipAgregar' | translate }}"
                                                [matTooltipPosition]="position" [disabled]="flagDisabledAddButton">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center end"
                                            style="padding: 10px;"
                                            matTooltip="{{ 'ContentInitTooltipEliminar' | translate }}"
                                            [matTooltipPosition]="position" *ngIf="flagShowDeleteButton">
                                            <button mat-mini-fab color="primary" class="content-button"
                                                (click)="onBorrarContenido()" [disabled]="flagDisabledDeleteButton">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center end"
                                            style="padding: 10px;" *ngIf="isLoading">
                                            <mat-spinner></mat-spinner>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div fxFlex="100" fxLayout="column" class="content-table">

                            <div fxFlex="100" fxLayout="column">
                                <div fxLayout="row wrap">
                                    <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
                                        <p class="content-subtitle"> {{ 'ContentInitSubtitleContenido' | translate }}
                                            {{htmlTitle}} </p>
                                    </div>
                                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center end">
                                    </div>
                                </div>
                            </div>

                            <table mat-table [dataSource]="primaryTableDataSource" style="width: 100%;">

                                <ng-container matColumnDef="descripcion">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'ContentInitTableDescripcion' | translate }} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                                </ng-container>


                                <ng-container matColumnDef="publicacion">
                                    <th mat-header-cell *matHeaderCellDef> {{ 'ContentInitTablePublicado' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.IsPublished ? 'Sí' : 'No'}} </td>
                                </ng-container>


                                <ng-container matColumnDef="fechaupd">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'ContentInitTableModificación' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.DateUpd.substr(0,10) | date:'dd/MM/yyyy'}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="primaryDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: primaryDisplayedColumns;"></tr>
                            </table>
                            <mat-paginator [length]="primaryTableLength" [pageSize]="5" [pageSizeOptions]="[5, 10]">
                            </mat-paginator>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>