/*=====================INICIO-TABLA=====================*/
table {
  width: 100%;
}
/*MODIFICA LA CABECERA DE LA TABLA*/

th.mat-header-cell {
  color: #43425d;
  opacity: 0.5;
  font-weight: lighter;
  font-size: 13px;
}
/*MODIFICA LAS CELDAS DE LA TABLA*/

td.mat-cell {
  color: #43425d;
  font-weight: lighter;
  font-size: 13px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px !important;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px !important;
}
/*=====================FIN-TABLA=====================*/

.component-container-interno {
  overflow: scroll;
  color: #43425d;
  background-color: white !important;
  height: 100%;
  /*FONT COLOR GENERAL*/
}

.component-container-interno::-webkit-scrollbar {
  display: none;
}

.tree-row {
  cursor: pointer;
  width: 1000px!important;
}

.tree-row:hover {
  transition: 1s;
  background: #f4f4f7;
}

.example-tree-progress-bar {
  margin-left: 30px;
  margin-right: 30px;
}

.principal-bar{
  padding: 20px;
}

.main-title{
  font-size: 28px;
  margin-bottom: 5px;
}

.main-subtitle{
  margin-left: 1px;
}

/*NUEVA TABLA*/
.content-table {
  border: 1px solid #f4f4f7;
  padding: 20px;
}

.content-table.first {
  padding: 20px;
  height: 400px;
}

.content-check{
  margin-left: 10px;
}

.content-title {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 70%;
}

.content-subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
}

.content-subtitle2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}

.content-image{
padding: 10px;
}

.imagen{
  max-width:100%;
  max-height:150px;
  margin: auto;
  display: block;
}

.input{
  width: 80%;
}

.content-button:hover{
  transition: box-shadow .3s;
  box-shadow: 0 0 11px rgba(29, 29, 29, 0.274);
}


input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

mat-toolbar-row {
  background: #ffffff;
  color: black;
  padding: 0px!important;
}

.subtitulo {
  font-size: 12px;
}

.titulo-dialogo {
  margin: 0;
  font-size: 20px;
}
.bloqueEditor{
  padding: 5px;
}