<div mat-dialog-title class="dialog-container">
    <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
            <span class="titulo"> {{'configuracionEnvio'|translate}} </span>
            <mat-progress-bar *ngIf="IsCompleteSave" mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center end">
            <button mat-dialog-close mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>

<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap">
        
        <div fxFlex="45" fxLayout="column" style="padding: 5px;">
            <mat-form-field class="select-filtro">
                <mat-label>{{ 'diaSemana' | translate }}</mat-label>
                <mat-select [formControl]="cControlDia">
                    <mat-option *ngFor=" let dia of diasSemana" [value]="dia.valor">
                        {{dia.dia}}
                    </mat-option>
                </mat-select>
                <mat-error>{{'CampoRequerido'| translate}}</mat-error> 
            </mat-form-field>
        </div>
        <div fxFlex="45" fxLayout="column" style="padding:5px;">
            <mat-label>{{'home-agendar.drawer-agendar.hora'|translate}}</mat-label>
            <kendo-timepicker [format]="'HH:mm'" [formControl]="hora" >
                <kendo-timepicker-messages accept="Aceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar" cancelLabel="Cancelar cambios" now="Ahora" nowLabel="Ahora" toggle="Cambiar lista"></kendo-timepicker-messages>
            </kendo-timepicker>
        </div>
        <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
            <button  mat-icon-button (click)="onCrearConfiguracion()">
                <mat-icon>add</mat-icon>
            </button>            
        </div>
    </div>
    <div fxLayout="row wrap" *ngFor="let horas of alistaHoras;">
        
        <div fxFlex="45" fxLayout="column" style="padding: 5px;">
            <span>{{horas.diaSemana}}</span>
        </div>
        <div fxFlex="45" fxLayout="column" style="padding: 5px;">
            <span>{{horas.hora}}</span>
        </div>
        <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
            <button  mat-icon-button (click)="onEliminarConfig(horas)">
                <mat-icon>delete</mat-icon>
            </button>            
        </div>
    </div>
</mat-dialog-content>
</div>


<!-- <div mat-dialog-title>
    <div fxLayout="row wrap">
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start">
            <span class="titulo"> {{'configuracionEnvio'|translate}} </span>
            <mat-progress-bar *ngIf="IsCompleteSave" mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center end">
            <button mat-dialog-close mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="dialog-header">

    <div fxLayout="row wrap" style="margin-top: 20px;">
        <div fxFlex="50" fxLayout="column" style="padding: 5px;" *ngFor="let oDias of aDiasA;">
            <div fxLayout="row wrap">
                <div fxFlex="10">
                    <section style="margin-top: 20px;">
                        <mat-checkbox [formControl]="oDias.c_control_check"> </mat-checkbox>
                    </section>
                </div>
                <div fxFlex="60" fxLayout="column" style="padding:5px;">
                    <mat-label>{{oDias.c_descripcion}}</mat-label>
                    <kendo-timepicker [format]="'HH:mm'" [formControl]="oDias.c_control_hora" [readonly]="!oDias.c_control_check.value">
                        <kendo-timepicker-messages accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar" cancelLabel="Cancelar cambios" now="Ahora" nowLabel="Ahora" toggle="Cambiar lista"></kendo-timepicker-messages>
                    </kendo-timepicker>
                </div>
            </div>
        </div>

    </div>
</div>
<mat-dialog-actions align="end">
    <button class="btn cancelar" mat-flat-button mat-dialog-close cdkFocusInitial>        
        {{ 'BrandConfigServicesCancelar' | translate }}
    </button>
    <button color="warn" [disabled]="bPrevent" mat-flat-button (click)="onSaveConfiguration()"> 
       <mat-icon>check_circle_outline</mat-icon> {{'BrandConfigServicesGuardar'|translate}}
    </button>
</mat-dialog-actions> -->