.dialog-msg{
    width: 400px;
    font-family: 'Roboto monoespace'!important;
}
.titulo{
    font-family: 'Roboto monoespace'!important;
}
.detalleMensaje{
    font-family: 'Roboto monoespace'!important;
}