
<div class="dialog-msg">
<h3 class="titulo">{{data.tipo}}</h3>
<div>
  <p>Mensaje: {{data.mensajeCorto}}</p>
    <!-- <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title class="detalleMensaje">
          Detalle
        </mat-panel-title>       
      </mat-expansion-panel-header>
      <mat-label class="detalleMensaje">{{data.mensajeLargo}}</mat-label>
    </mat-expansion-panel> -->

</div>
<div mat-dialog-actions  align="center">
        <button color="primary" mat-flat-button [mat-dialog-close] [mat-dialog-close]="data.tipo"> 
            OK
         </button>  
</div>
</div>